/** The CSS file that sets up the styling of the page and how to display the conditions box*/

body {
    background:  black;
    font-family: "Arial";
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.form {
    width: 300px;
}

.form .form-element input {
    width: 100%;
    padding: 10px;
    font-size: 19px;
    border: 1px solid black;
    background: white;
    box-sizing: border-box;
    border-radius: 50px;
    outline: none;
    text-indent: 10px;
}

.form .form-element .toggle-password {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
}

.form .form-element .toggle-password.active i.fa-eye {
    display: none;
}

.form .form-element .toggle-password.active i.fa-eye-slash {
    display: inline;
}

.form .form-element .toggle-password i.fa-eye-slash {
    display: none;
}

.form .form-element .password-policies {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 0px;
    height: 0px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    opacity: 1;
    overflow: hidden;
    transition: height 300ms ease-in-out, opacity 300ms ease-in-out
}

.form .form-element .password-policies.active {
    opacity: 1;
    padding: 10px;
    height: 180px;
}

.form .form-element .password-policies > div {
    margin: 15px 10px;
    font-weight: 500px;
    color:gray;
    transition:all 300ms ease-in-out;
}

.form .form-element .password-policies > div.active {
    color:black;
  }